body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, select, button {
    margin: 10px;
    padding: 5px;
}
